@font-face {
  font-family: "ModernEra-Regular";
  src: url("../fonts/ModernEra Fonts/ModernEra-Regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "ModernEra-Bold";
  src: url("../fonts/ModernEra Fonts/ModernEra-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "ModernEra-Medium";
  src: url("../fonts/ModernEra Fonts/ModernEra-Medium.woff2") format("truetype");
}

@font-face {
  font-family: "ModernEra-ExtraBold";
  src: url("../fonts/ModernEra Fonts/1_ModernEra-ExtraBold.ttf")
    format("truetype");
}

:root {
  --primary-color: #0d3451;
  --primary-light: #3fa9f4;
  --secondary-color: #119e5b;
  --text-color: #7e868b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "ModernEra-Regular";
  /* background: #f6f2ea; */
  overflow-x: hidden;
}

.navbar {
  padding: 1rem 0;
}

.navbar-brand img,
.logo img {
  width: 200px;
  object-fit: cover;
}

.nav-item .nav-link {
  color: var(--primary-color) !important;
  font-family: "ModernEra-Medium";
  font-size: 18px;
  margin-right: 20px;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #fff;
}

.nav-item .nav-link.selected,
.nav-item .nav-link:hover {
  border-color: #119e5b;
}

h1 {
  font-family: "ModernEra-ExtraBold";
  font-size: 2.5rem;
  color: var(--primary-color) !important;
  font-weight: bold;
}

.primary-btn {
  background: var(--primary-light);
  color: #fff;
  box-shadow: 2px 2px 8px var(--text-color);
  border-radius: 0;
}

.secondary-btn {
  background: var(--secondary-color);
  color: #fff;
  box-shadow: 2px 2px 8px var(--text-color);
  border-radius: 0;
}

#showcase {
  height: 82.5vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  position: relative;
  background: url("../img/header.jpg") center center/cover no-repeat;
  background-attachment: fixed;
}

#showcase.services-showcase {
  background: url("../img/services-showcase.jpg") bottom center/cover no-repeat !important;
  background-attachment: fixed !important;
}

#showcase.case-studies-showcase {
  background: url("../img/showcase.jpg") center center/cover no-repeat !important;
  background-attachment: fixed !important;
}

#showcase.blog-showcase {
  background: url("../img/blog-showcase.jpg") center center/cover no-repeat !important;
  background-attachment: fixed !important;
}

#showcase.contact-showcase {
  background: url("../img/contact-showcase.jpg") center center/cover no-repeat !important;
  background-attachment: fixed !important;
}

#showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.001) 30%,
    #fff 70%
  );
}

.showcase-content {
  width: 60%;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}

.lead {
  color: var(--text-color);
  margin: 2rem 0;
  font-family: "ModernEra-Medium";
}

#whatwedo span,
#whatwedo h2,
#stats h2,
#services-b h2,
#services-c h2,
#services-d h2,
#case-studies-a h2,
#case-studies-b h2,
#case-study-b h2,
#case-study-c h2,
#blog-a h2,
#contact-a h2 {
  text-align: center;
}

.case-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.case-details .case-logo {
  width: 25%;
}

.case-details .case-desc {
  width: 75%;
}

.header-small {
  font-size: 1.1rem;
  text-align: center;
  display: block;
  font-weight: bold;
}

.line {
  width: 50px;
  height: 5px;
  background: var(--primary-light);
  margin: 10px auto 20px auto;
}

#whatwedo h2,
#about h2,
#stats h2,
#services h2,
#contact h2,
#testimonials h2,
#newsletter h2,
#services-b h2,
#services-c h2,
#services-d h2,
#case-studies-a h2,
#case-studies-b h2,
#case-study-a h2,
#case-study-b h2,
#case-study-c h2,
#blog-a h2,
#contact-a h2 {
  font-family: "ModernEra-ExtraBold";
  font-size: 2rem;
  color: var(--primary-color) !important;
  font-weight: bold;
}

#whatwedo h3,
#about h3,
#services h3,
#testimonials h3,
#services-b h3,
#services-c h3,
#services-d h3,
#case-studies-a h3,
#case-studies-b h3,
#case-study-c h3,
#blog-a h3,
footer h3 {
  font-family: "ModernEra-Bold";
  font-size: 1.3rem;
  color: var(--primary-color) !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

#whatwedo .card,
#stats .card,
#services .card,
#testimonials .card,
#services-b .card,
#services-c .card,
#services-d .card,
#case-studies-a .card,
#case-study-b .card,
#case-study-c .card,
#blog-a .card,
#contact-a .card {
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 1rem 0;
  border-radius: 0;
  min-height: 320px;
}

#services-b .card,
#services-c .card,
#services-d .card,
#case-studies-a .card,
#case-study-b .card,
#case-study-c .card,
#blog-a .card,
#contact-a .card {
  height: fit-content;
}

#stats .card {
  min-height: 150px !important;
}

#services .card {
  min-height: 320px;
}

#testimonials .card {
  min-height: 340px;
}

#services .card.dark,
#services-c .card.dark {
  background: var(--primary-color);
  border: none;
  outline: none;
}

#services .card.dark h3,
#services .card.dark p,
#services-c .card.dark h3,
#services-c .card.dark p {
  color: #fff !important;
}

#whatwedo .card img {
  /* margin: auto; */
  display: block;
}

#about,
#contact {
  margin-top: 100px;
  min-height: 400px;
}

footer {
  margin-top: 100px;
}

#stats,
#services,
#testimonials,
#newsletter,
#services-b,
#services-c,
#services-d,
#case-studies-a,
#case-studies-b,
#case-study-b,
#case-study-c,
#blog-a,
#contact-a {
  margin-top: 100px;
}

#about-img,
#contact-img,
#newsletter-img {
  position: relative;
  background: url("../img/about.jpg") center center/cover no-repeat;
  height: 400px;
}

#contact-img {
  background: url("../img/contact.jpg") center center/cover no-repeat;
}

#about-img::after,
#contact-img::after,
#newsletter-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.001), #fff 95%);
}

#contact-img::after {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.001), #fff 95%);
}

.primary-text {
  color: #3fa9f4;
}

#about-content,
#contact-content,
#newsletter-content {
  padding: 1rem 0;
  min-height: 400px;
}

#about-content p,
#contact-content p,
#newsletter p {
  margin: 20px 0;
}

.stat {
  display: flex;
  align-items: center;
}

.stat .stat-icon {
  margin-right: 20px;
}

.stat-count {
  font-weight: bold;
}

.stat .num,
.benefit-num {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: "ModernEra-ExtraBold";
  color: var(--primary-light);
  display: block;
}

#services,
#testimonials,
#services-d,
#case-study-b {
  background: #f4faff;
  padding: 50px 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

#services .owl-carousel .card-body img {
  width: 64px !important;
}

#testimonials .owl-carousel .card-body img {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50%;
}

.owl-carousel .owl-stage-outer {
  min-height: 400px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary-light);
}
.p-name {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

input,
textarea {
  width: 90%;
  border: none;
  background: #dedede;
  padding: 0.8rem;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-color);
}

footer {
  border-top: 1px solid #dedede;
  padding-top: 0.8rem;
}

footer a {
  margin-top: 10px;
  display: inline-block;
  color: #0d3451;
}

.links {
  padding: 0 1rem 3rem 2rem;
}

.social i {
  display: inline-block;
  border-radius: 50%;
  padding: 1rem;
  background: var(--primary-light);
  color: #fff;
  margin-right: 10px;
}

.work-num {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: var(--primary-light);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "ModernEra-ExtraBold";
  margin-bottom: 10px;
}

.chart-elements {
  display: flex;
  flex-wrap: wrap;
}

.chart-elements .chart-item {
  width: 25%;
  padding: 1rem;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  line-height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: var(--primary-light);
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.categories .btn {
  margin: 10px;
}

.categories .btn.sel {
  background: #0d3451;
}

.cases .card {
  padding: 0 !important;
}

.cases .card img {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
}

.cases a {
  text-decoration: none !important;
}
.cases .card p {
  margin: 20px 0;
  color: var(--text-color);
}

.case-logo img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  display: block;
  margin: auto;
}

.case-logo span {
  display: block;
  font-family: "ModernEra-ExtraBold";
  font-size: 1.5rem;
  color: var(--primary-color) !important;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border: 2px solid var(--primary-light);
}

.clients img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  display: inline-block;
  margin: auto;
}

.clients {
  margin-top: 50px;
}

.clients.owl-carousel .owl-stage-outer {
  min-height: 150px !important;
}

nav.case-nav {
  border-bottom: 1px solid #dedede !important;
}

#case-study-a {
  padding-top: 50px;
}

.case-study-client {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  display: block;
}

#case-study-a p {
  font-size: 1.1rem;
  margin: 20px 0;
}

.case-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 100px;
}

.benefits {
  display: flex;
}

.benefits > div {
  margin-right: 70px;
}

.case-review {
  font-size: 1.1rem;
  color: var(--primary-color);
}

.review-maker {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px 10px 10px 0;
}

.review-maker-name {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
}

.review-maker-designation {
  color: var(--primary-light);
}

.blog-posts img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.post-header {
  height: 60px;
}

.blog-posts h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-posts a {
  text-decoration: none;
}

.blog-posts p {
  color: var(--text-color);
}

.post-published-date {
  display: inline-block;
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
}

.post-content {
  height: 180px;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-post-img {
  width: 50%;
}

.featured-post-img img {
  height: 400px !important;
  display: block;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form > div:first-child {
  width: 60%;
  padding: 2rem 3rem;
}

.contact-form > div:last-child {
  width: 40%;
  background: #fff;
  padding: 2rem;
}

.contact-card {
  background: var(--primary-color);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-card .contact-form h3 {
  font-family: "ModernEra-ExtraBold";
  font-size: 2rem;
  color: #fff !important;
  font-weight: bold;
  text-align: left;
}

.contact-card p {
  color: #fff;
  margin: 20px 0;
}

.contact-option {
  background: none;
  border: none;
  color: #fff;
  margin: 20px 0;
  cursor: pointer;
}

.contact-option i {
  color: var(--secondary-color);
  margin-right: 20px;
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .showcase-content {
    padding-top: 0px;
  }

  #showcase .container {
    height: 100%;
  }

  #showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #showcase .btn {
    width: fit-content !important;
  }
}

@media screen and (max-width: 1000px) {
  .nav-item .nav-link.selected,
  .nav-item .nav-link:hover {
    color: #119e5b !important;
    font-weight: bold;
    border-color: #fff;
  }

  .navbar-nav .secondary-btn.ml-3 {
    margin: 0 !important;
  }

  .chart-elements .chart-item {
    width: 50%;
    padding: 1rem;
  }

  .case-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .case-details .case-logo {
    width: 100%;
  }

  .case-details .case-desc {
    width: 100%;
  }

  .case-logo img {
    margin: 0;
  }

  .case-desc.pl-3 {
    padding: 0 !important;
  }
  .contact-form > div:first-child {
    width: 100%;
    padding: 2rem 3rem;
  }

  .contact-form > div:last-child {
    width: 100%;
    background: #fff;
    padding: 2rem;
  }
}

@media screen and (max-width: 780px) {
  #showcase {
    height: 86vh;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    position: relative;
    background: url("../img/header.jpg") center center/cover no-repeat;
    background-attachment: fixed;
  }

  #services,
  #testimonials,
  #services-d,
  #case-study-b {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }

  #showcase::after {
    background: rgba(0, 0, 0, 0.65);
  }

  #showcase {
    background: url("../img/header.jpg") right center/cover no-repeat;
  }

  #showcase.services-showcase {
    background: url("../img/services-showcase.jpg") right center/cover no-repeat !important;
  }

  #showcase.case-studies-showcase {
    background: url("../img/showcase.jpg") right center/cover no-repeat !important;
  }

  #showcase.blog-showcase {
    background: url("../img/blog-showcase.jpg") right center/cover no-repeat !important;
  }

  #showcase.contact-showcase {
    background: url("../img/contact-showcase.jpg") right center/cover no-repeat !important;
  }

  .showcase-content {
    width: 100%;
  }

  h1 {
    color: #fff !important;
    font-size: 2.2rem;
  }

  .lead {
    color: var(--text-color);
    font-family: "ModernEra-Medium";
    font-size: 1.3rem;
    color: #fff !important;
    margin: 40px 0;
  }

  #about-img::after,
  #contact-img::after,
  #newsletter-img::after {
    background: rgba(48, 32, 32, 0.62);
  }

  #about-content,
  #contact-content,
  #newsletter-content {
    padding: 1rem 1.5rem !important;
  }

  #stats,
  #services,
  #testimonials,
  #services-b,
  #services-c,
  #services-d,
  #case-studies-a,
  #case-studies-b,
  #case-study-b,
  #case-study-c,
  #blog-a,
  #contact-a {
    padding: 2rem 1.5rem !important;
    margin-top: 30px;
  }

  #stats .card {
    min-height: 180px !important;
  }

  /* .categories {
    flex-direction: column;
  } */

  .categories .btn {
    width: 45%;
    margin: 10px 1%;
    height: fit-content;
  }

  .blog-posts .d-flex {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .blog-posts .d-flex > div {
    width: 100% !important;
  }

  .featured-post-img img {
    height: 250px !important;
    display: block;
  }

  .blog-posts .d-flex .pl-3 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 590px) {
  .showcase-content {
    padding: 50px 20px;
  }

  nav.navbar {
    padding: 10px 25px !important;
  }

  #about-content,
  #newsletter-content {
    padding: 2rem !important;
  }

  #contact-content {
    padding: 1rem 2rem !important;
  }

  #whatwedo .card {
    min-height: fit-content !important;
    margin: 20px !important;
  }

  #whatwedo h2,
  #about h2,
  #stats h2,
  #services h2,
  #contact h2,
  #testimonials h2,
  #newsletter h2,
  #services-b h2,
  #services-c h2,
  #services-d h2,
  #case-studies-a h2,
  #case-studies-b h2,
  #case-study-a h2,
  #case-study-b h2,
  #case-study-c h2,
  #blog-a h2,
  #contact-a h2 {
    margin-bottom: 50px !important;
    font-size: 1.5rem;
  }

  #stats .card {
    min-height: 190px !important;
  }

  .stat {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stat-count {
    text-align: center;
    margin-top: 10px;
  }

  .chart-elements .chart-item {
    width: 100%;
    padding: 1rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  .lead {
    color: var(--text-color);
    font-family: "ModernEra-Medium";
    font-size: 1.2rem;
    color: #fff !important;
    margin: 40px 0;
  }
}

@media screen and (max-width: 420px) {
  .col-6 {
    flex: none !important;
    max-width: 100% !important;
  }

  .categories .btn {
    width: 100%;
  }

  .case-details .secondary-btn {
    width: 100% !important;
  }
}
